@model GNews.ViewModels.RequestViewModel

@{
    ViewBag.Title = "Create";
}

<h2 style="text-align:center">Añadir petición</h2>
<hr />
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.request.Employee, htmlAttributes: new { @class = "control-label col-md-2", style = "padding:5px" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedEmployee, Model.ListOfEmployees,"", htmlAttributes: new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.SelectedEmployee, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.request.RequestText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.request.RequestText, new { @class = "form-control", id = "txtarea" } )
                    @Html.ValidationMessageFor(model => model.request.RequestText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" >
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enviar Petición" class="btn btn-primary" />
                    @Html.ActionLink("Volver a las noticias", "Index","News", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
    <div class="col-md-offset-2">
        <p>Notas:</p>
        <p>(1) Al enviar una petición se envía un e-mail automáticamente a la Fábrica con la misma</p>
        <p>(2) Aparte de peticiones de noticias se puede pedir la inclusión de nuevos cliente o que se actualice la lista de clientes de un empleado</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2").select2({
                placeholder: "Select",
                allowClear: true,
                theme: "classic"
            });
        });
    </script>
}
