@model GNews.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Empleado</h2>
<hr />

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EmployeeID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })
</p>
<div class="col-lg-offset-2" style="font-size:18px;">
    <table class="table">
        <tr>
            <th>
                Empleado
            </th>
            <th>
                Clientes
            </th>
            <th>
                Peticiones
            </th>
        </tr>
        <tr>
            <td>@Model.EmployeeName</td>
            <td>
                @foreach (var item in Model.Clients)
                {
                    <div>
                        @Html.DisplayFor(modelitem => item.ClientName)


                    </div>
                }
            </td>
            <td>
                @foreach (var item in Model.Requests)
                {
                    <div>
                        @Html.DisplayFor(modelitem => item.RequestText)
                    </div>
                }
            </td>
        </tr>
    </table>
</div>

